[Unit]
Description=SMTP server for Saleor
After=network.target
[Service]
User=root
Group=root
Restart=always
WorkingDirectory={hd}/Deploy_Saleor
ExecStart=mailpit
[Install]
WantedBy=multi-user.target