API_URI="{api_url}"
APP_MOUNT_URI="/"
CYPRESS_USER_NAME="admin@example.com"
CYPRESS_USER_PASSWORD="P@55w.rd1234"
CYPRESS_SECOND_USER_NAME="admin@example.com"
# Staff users' password
CYPRESS_PERMISSIONS_USERS_PASSWORD="password"
BASE_URL="https://dashboard.domain.com/"
CYPRESS_MAILPITURL="http://localhost:8025"
CYPRESS_USER_EMAIL_SENDER="noreply@example.com"
CYPRESS_USER_EMAIL_HOST="localhost"
CYPRESS_USER_EMAIL_PORT="1025"