API_URI="{api_url}"
APP_MOUNT_URI="/"
CYPRESS_USER_NAME="admin@example.com"
CYPRESS_USER_PASSWORD="admin"
CYPRESS_SECOND_USER_NAME="localtest@example.com"
CYPRESS_PERMISSIONS_USERS_PASSWORD="P@55w.rd1234"
BASE_URL="https://dashboard.domain.com"