[Unit]
Description=uWSGI for Saleor API
After=network.target
[Service]
Restart=always
ExecStart={hd}/env/saleor/bin/uwsgi --emperor {hd}/env/saleor/vassals/prod.ini
[Install]
WantedBy=multi-user.target